.most-popular-item {
    flex: 1 25%;
}

.card-wrapper {
    background-color: var(--color-dark);
    border-radius: calc(var(--border-radius-secondary));
    padding: calc(var(--border-radius-secondary));
    margin: calc(var(--margin-primary) / 5);
}

.most-popular-item-image {
    width: 100%;
    border-radius: calc(var(--border-radius-secondary));
    margin-bottom: var(--margin-primary);
}

.most-popular-item-content {
    display: flex;
    justify-content: space-between;
    /* gap: 15px;
    flex-wrap: wrap; */
}

/* .most-popular-item-content ul {
    padding: 0px;
} */

.most-popular-item-title {
    font-size: 14px;
    line-height: 1.5;
}

.most-popular-item ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (max-width:400px) {
    .most-popular-item-content {
        gap: 15px;
        flex-wrap: wrap;
    }

    .most-popular-item-content ul {
        padding: 0px;
    }
}